p{
    margin:auto;
    padding:2px;
    font-size:16px;
    line-height:1.5;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width:50%;
    margin:auto;
}

div.image{
    margin:auto;
}
div.gallery{
    width:fit-content;
    margin:auto;
}

img.sgcoilgallery{
    width:100%;
}

div.sgcoilgallery{
    width:50%;
    float:left;
    margin:auto;
}

img.image{
    margin-right:auto;
    margin-left:auto;
}

.clearfix{
    clear:both;
}

body{
    background-color:white;
}
h1{
    text-align:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:50px;
    font-weight:400;
}
h2, h3, h4, h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3, h4, h5, p, a{
    color:black;
}
.menu{
    width:fit-content;
    margin:auto;
}
.menu ul{
    list-style-type:none;
    list-style:none;
    padding:0;
    margin:0;
}
.menu a{
    display:inline-block;
    text-decoration:none;
    border-style:solid;
    vertical-align:middle;
    border-width:1px;
    font-size:15;
    margin:0px;
    padding:5px;
}
.drop-menu{
    display:inline-block;
    position:relative;
}
.drop-content-menu{
    display:none;
    position:absolute;
    width:200px;
    margin:0px;
}
.drop-menu:hover .drop-content-menu{
    display:block;
}
.dropdown{
    background:none;
    border-style:solid;
    border-color:black;
    border-width:1px;
    font-size:15;
    padding:5px;
    margin:0px;
}
.project{
    display:inline-block;
    vertical-align: top;
    border-style:ridge;
    min-width:min-content;
    min-height:250px;
    max-width:25%;
    padding:10px;
}

p.thumbnail{
    font-size:14px;
}

img.thumbnail{
    float:left;
    margin:5px;
    height:50%;
}
figcaption{
    font-size:14px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.team-container {
    text-align: center;
    margin: 20px 0;
}

.team-photo {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.team-captions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.team-member {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.team-member h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.team-member p {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-style: italic;
}
