body{
    background-color:white;
}
h1, h2, h3, h4, h5, p, a{
    color:black;
}
.menu{
    width:100%;
}
.menu ul{
    list-style-type:none;
    list-style:none;
    padding:0;
    margin:0;
}
.menu a, .menu p{
    text-decoration:none;
    border-style:double;
    margin:0px;
    padding:2px;
}
.drop-menu{
    display:inline-block;
    position:relative;
}
.drop-content-menu{
    display:none;
    position:absolute;
    width:200px;
    margin:0px;
}
.drop-menu:hover .drop-content-menu{
    display:block;
}
.dropdown{
    background:none;
    border-style:double;
    border-color:black;
    margin:0px;
}
.project{
    display:inline-block;
    vertical-align: top;
    border-style:ridge;
    width:20%;
    min-height:250px;
    padding:10px;
}

img.thumbnail{
    float:left;
    max-width:100px;
    max-height:250px;
}
